/* Overall Styling */
/* Set CSS custom properties */
:root {
    --text-color: rgb(255,255, 255);
    --text-color-secondary: rgb(0, 0, 0);
    --background-color: rgb(243, 233, 215);
    --background-color-secondary: rgb(0, 0, 0);
    --button-background-color: rgb(255, 255, 255);
    --button-back-color-hover: rgb(170, 170, 170);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

/* Header styling */
header h1 {
    color: var(--text-color);
}

header {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-secondary);
    max-height: 100px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

header ul li a button {
    font-size: 2em;
    border-style: none;
    height: 100%;
    background-color: var(--button-background-color);
    padding: 20px 2em 20px 2em;
    font-weight: 100;
    margin-left: 2px;
}

header ul li a button:hover {
    background-color: var(--button-back-color-hover);
}

header h1 {
    margin: 0;
    margin-left: 1em;
}


/* Main styling */
section {
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    position: relative;
    
    color: var(--text-color-secondary);
}

form {
    box-shadow: 0px 5px 20px 1px rgb(143, 143, 128);
    width: 300px;
    border-radius: 10px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    background-color: var(--background-color-secondary);
    height: 300px;
}

form button {
    position: absolute;
    align-self: center;
    border-style: none;
    background-color: var(--button-background-color);
    width: 50px;
    height: 50px;
    font-size: 2em;
    box-shadow: 0px 0px 10px 1px rgb(109, 109, 109);
    border-radius: 25px;
    
    transform: translateY(450%);
    transition-duration: .3s;
}

form button:hover {
    transform: translateY(445%);
    transition-duration: .3s;
    box-shadow: 0px 0px 7px 1px rgb(111, 111, 111);
}

form button:active {
    width: 95px;
    height: 95px;
    transform: translateY(100%);
    box-shadow: inset 0px 0px 7px 1px rgb(111, 111, 111);
    transition-duration: .6s;
}

.postImg {
    width: 300px;
    min-height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.likeImg {
    width: 35px;
    filter: invert();
    transform: translateY(13%);
}


/* Footer Styling */
footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: var(--background-color-secondary);
    color: var(--text-color);
}
