/* Overall Styling */
/* Set CSS custom properties */
:root {
    --text-color: rgb(255,255, 255);
    --text-color-secondary: rgb(0, 0, 0);
    --background-color: rgb(243, 233, 215);
    --background-color-secondary: rgb(0, 0, 0);
    --button-background-color: rgb(255, 255, 255);
    --button-back-color-hover: rgb(170, 170, 170);
    --shadow-color:  rgb(109, 109, 109);
}

body {
    font-family: 'Kanit', sans-serif;

    padding: 0;
    margin: 0;

    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

/* Header styling */
header h1 {
    color: var(--text-color);
}

header {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-height: 100px;

    background-color: var(--background-color-secondary);
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;
}

header ul li a button {
    border-style: none;

    font-size: 2em;
    height: 100%;
    padding: 20px 60px 20px 60px;
    font-weight: 100;
    margin-left: 2px;

    background-color: var(--button-background-color);
}

header ul li a button:hover {
    background-color: var(--button-back-color-hover);
}

header h1 {
    margin: 0;
    margin-left: 20px;
}


/* Main styling */
section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 35px;
}

h1 {
    text-align: center;
    position: relative;
    
    color: var(--text-color-secondary);
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 35px;
    padding: 0;

    background-color: var(--background-color-secondary);
    box-shadow: 0px 5px 20px 1px var(--shadow-color);
}

form button {
    position: absolute;
    align-self: center;
    border-style: none;

    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 25px;

    box-shadow: 0px 0px 10px 1px var(--shadow-color);
    background-color: var(--button-background-color);
    
    transform: translateY(450%);
    transition-duration: .3s;
}

form button:hover {
    box-shadow: 0px 0px 7px 1px var(--shadow-color);

    transform: translateY(445%);
    transition-duration: .3s;
}

form button:active {
    width: 95px;
    height: 95px;

    box-shadow: inset 0px 0px 7px 1px var(--shadow-color);

    transform: translateY(100%);
    transition-duration: .6s;
}

.postImg {
    object-fit: cover;

    width: 300px;
    min-height: 300px;
    border-radius: 10px;
}

.likeImg {
    width: 35px;

    filter: invert();

    transform: translateY(13%);
}

/* Footer Styling */
footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
    left: 0;
    bottom: 0;

    background-color: var(--background-color-secondary);
    color: var(--text-color);
}
