body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: gray;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
}

header input{
    visibility: hidden;
}

a{
    text-decoration: none;
}

