<!DOCTYPE html>
<header>
    <a href="/">
        <h1>PhotoMatch</h1>
    </a>

    <ul>
        <li>
            <a href="/">
                <button>Home</button>
            </a>
        </li>
        <li>
            <a href="/likesDetail">
                <button>Likes</button>
            </a>
        </li>
    </ul>
</header>