<%- include('head') -%>

<!doctype html>
<title>Photo's - PhotoMatch</title>
<h1>Photo's</h1>
<a href="/">
    <h2>Home</h2>
</a>
    <h2>Recommended Photographer: Stephan Kok</h2>
<% for (var index = 0; index < data.length; index++) { %>
    <% if (data[index].url != null) { %>
        <form action="/clickedRemove" method="POST">
            <h2>
                <img id="photo" src="<%= data[index].url%>">
                <input type="hidden" value="<%= data[index].url%>" name="photoUrl">
                </h2>
                <button id="myRemove">Remove Like</button>
        </form>
<%  }
} %>

<script src="/scripts/removeLike.js"></script>

<%- include('footer') -%>

