<%- include('head') -%>

<!doctype html>
<title>Photo's - PhotoMatch</title>
<h1>Photo's</h1>
<a href="/likesDetail">
    <h2>Liked Photo's</h2>
</a>
<% for (var index = 0; index < data.length; index++) { %>
    <% if (data[index].media_type === 'IMAGE' || data[index].media_type ==='CAROUSEL_ALBUM') { %>
        <form action="/clicked" method="POST">
            <h2>
                <img id="photo" src="<%= data[index].media_url%>">
                <input type="hidden" value="<%= data[index].media_url%>" name="photoUrl">
            </h2>
            <button id="myButton">Click me!</button>
        </form>
<%  }
} %>

<!-- Url saving spot -->
<p id="urlSection" name="urlCurrent"></p>

<script src="/scripts/clickPhoto.js"></script>
<%- include('footer') -%>

